.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
  overflow-x: hidden;
}

.open {
  width: 280px;
}

.closed {
  width: 0px;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 50px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.contentClosed {
  margin-left: 100px;
}

.burgerIcon {
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
  z-index: 100;
}

.burgerIcon:hover {
  cursor: pointer;
}
