
.bottomRightButton {
  position: fixed;
  bottom: 20px; 
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color:#ffde59; 
  display: flex;
  align-items: center; 
  justify-content: center;
  border: none;
  color: #565555; 
  transition: box-shadow 0.3s ease-in-out;
}

.bottomRightButton:hover{
   box-shadow: 0 0 15px 5px rgba(255, 235, 59, 0.6);
   background-color:#ffde59;
}

.modalBackdrop {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0,0,0,0.5); 
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: 1050; 
}

.loader {
	border: 6px solid #f3f3f3; 
	border-top: 6px solid #3498db; 
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
  
.centeredLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;  
	width: 90%;  
}

